extends layout.pug
block content
  table.table.table-bordered
    thead.thead-dark
      tr
        th 번호
        th 제목
        th 작성자
        th 작성일
        th 관리
    tbody
      each v in lists
        tr
          td= v.id
          td= v.title
          td= v.writer
          td= v.wdate
          td
            button.btn.btn-sm.btn-danger(onclick=`location.href='/board/delete/${v.id}';`) 삭제
