extends layout.pug
block content
  table.table.table-bordered
    thead.thead-dark
      tr
        th 번호
        th 제목
        th 작성자
        th 생성일
        th 조회수
    tbody
      each v in lists
        tr
          td= v.id
          td= v.title
          td= v.writer
          td= v.wdate
          td= v.rnum
